{% extends "front/layout.twig" %}

{% block content %}

    <div class="block block-fill-height text-center">
        <div class="block-xs-middle">
            <div class="container-fluid">

                {% for post in postList %}

                    <blockquote class="pull-quote">
                        <img src="{{ base_url() }}/uploads/{{ post.image.name }}" alt="">
                        <h2>{{ post.title }}</h2>
                        {{ post.content|raw }}
                        <div class="wtf">
                            <hr class="style18">
                        </div>

                    </blockquote>

                {% endfor %}


            </div>
        </div>
    </div>



{% endblock %}