{% extends "front/layout.twig" %}

{% block content %}

    <div class="block block-secondary">
        <div class="container">
            <div class="row app-align-center">


                <div>
                    <h3>{{ post.title }}</h3>
                    {{ post.content|raw }}

                    <a href="{{ path_for('service') }}" class="btn btn-md btn-pill btn-default"><span class="icon icon-reply"> Back</span></a>

                </div>
            </div>

        </div>
    </div>

{% endblock %}
