{% extends "dashboard/layout.twig" %}

{% block content %}

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Firma</th>
            <th>Nume</th>
            <th>Email</th>
            <th>Telefon</th>
        </tr>
        </thead>

        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.company }}</td>
                <td>{{ client.name }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.phone }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}